#contenu{
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 3% 0%;

}
.gauche {
    width: 55%;
    height: 100%;
}


.droite{
    width: 45%;
    height:100%;
}

.gHaut {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    padding: 11px;
    
}
.gHaut img{
    box-sizing: content-box;
    width: 90%;
    border-radius: 20px;
    filter: brightness(50%);
}

.gHaut .text {
    z-index: 1;
    position: absolute;
    left: 80px;
    top: 130px;
    color: white;
    width: 40%;
    text-decoration: none;
    text-align: left;
    

}


.gHaut a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  text-align: left;
}

p.titre{
    font-size: 40px;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
    text-align: left;
    text-decoration: none;
   
}


p.article{
  box-sizing: content-box;
  font-size: 15px;
  font-weight: 200;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.gBas {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    height: 300px;
    padding: 2% 2%;
}

.gBas img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0% 0%;
}
.card {
    background-color: #725ac1d4;
    margin: 3%;
    border-radius: 5%;
    box-shadow: 0px 0px 5px #725AC1;
    height: 100%;
}

.card-header{
    overflow: hidden;
    height:40%;
}


.card-titre {
    padding: 2% 5%;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
}


.card-article {
    padding: 2% 5%;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.2em;
    color: #ffffff;
    height: 9em;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card button {
    position: relative;
    background-color: #ffffff;
    width: 70px;
    height: 20px;
    border: none;
    color: #725AC1;
    border-radius: 5px;
    padding: 0% 0%;
    font-size: 9px;
    font-weight: 600;
    left: 10px;
    cursor: pointer;
}


.dHaut {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    height: 400px;
}


.dHaut img{
    width: 130px;
    height: 130px;
    border-radius: 10px ;
    filter: brightness(95%);
    margin:  1% 0%;
}

.ImgDH{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}


.categ{
    padding-left: 5%;
    color: #725AC1;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}




.dBas {
    height: 100px;
}

.categ1{
    text-align: center;
    padding-left: 5%;
    color: #725AC1;
    font-size: 20px;
    font-weight: 600;
    padding-top: 50px;
}







.carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 80px;
}

.carousel__scene {

  width: 520px;
  height: 250px;
  max-width: 95vw;
  perspective: 100px;
  padding-top: 40px;
  /*overflow: hidden;*/
}

.carousel__controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99;
  width: 60px;
  right: -30px;
  top: -150px;
}

.previous-button, .next-button {
  margin: 5px 0;
  padding: 5px;
  width: 50px;
  height: 50px;
  font-family: monospace;
  font-weight: bold;
  font-size: 2rem;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 50px;
  background-color: #725AC1;
  color: white;
  transition: 0.4s;
}

.previous-button:hover, .next-button:hover {
  outline: none;
  box-shadow: 0 0 6px 3px #725AC1;
}

.carousel__cell img{
      height: 100%;
      width: 100%;
}
.carousel__list {
  width: 100%;
  height: 160px;
  margin: 0;
  padding: 0;
  position: absolute;
  transform: translateZ(-288px);
  transform-style: preserve-3d;
  transition: transform 1s;
  list-style: none;
  counter-reset: list-counter;
}

.carousel__cell {
  position: absolute;
  width: 510px;
  height: 165px;
  max-width: calc(95vw - 20px);
  border: 2px solid white;
  border-radius: 10px;
  transition: transform 1s, opacity 1s;
  counter-increment: list-counter;
  overflow: hidden;
  /*filter: blur(2px);*/
}

.carousel__cell::before {
  color: rgb(255, 255, 255);
  width: 40px;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
}

.carousel__cell.selected {

  border: none;
  color: #ffffff;
  
  /*filter: none;*/
}

.carousel__cell.selected::before {
  color: goldenrod;
}

.carousel__cell:nth-child(1) { transform: rotateX(  0deg) translateZ(288px); }
.carousel__cell:nth-child(2) { transform: rotateX( 40deg) translateZ(288px); }
.carousel__cell:nth-child(3) { transform: rotateX( 80deg) translateZ(288px); }
.carousel__cell:nth-child(4) { transform: rotateX(120deg) translateZ(288px); }
.carousel__cell:nth-child(5) { transform: rotateX(160deg) translateZ(288px); }
.carousel__cell:nth-child(6) { transform: rotateX(200deg) translateZ(288px); }
.carousel__cell:nth-child(7) { transform: rotateX(240deg) translateZ(288px); }
.carousel__cell:nth-child(8) { transform: rotateX(280deg) translateZ(288px); }
.carousel__cell:nth-child(9) { transform: rotateX(320deg) translateZ(288px); }
