


@media screen and (max-width: 900px) {


    #contenu{
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
    }

  .gauche {
    width: 100%;
  }
  .gHaut {

      box-sizing: content-box;
      width: 100%;
      padding: 9% 0%;
      position: relative;
      overflow: hidden;
 

      
  }
  .gHaut img{
      box-sizing: content-box;
      width: 80%;
      border-radius: 20px;
      filter: brightness(50%);
      position: relative;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 26px 20px -12px;
  }
  
  .gHaut .text {
      z-index: 1;
      position: absolute;
      left: 15%;
      top: 15%;
      color: white;
      width: 70%;
      height: 20%;
      text-decoration: none;
      text-align: left;
      
  
  }
  
  
  .gHaut a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-align: left;
  }
  
  p.titre{
    font-size: 6vw;
      font-weight: 700;
      text-decoration: none;
      color: #ffffff;
      text-align: left;
      text-decoration: none;
     
  }
  
  
  p.article{
    box-sizing: content-box;
    font-size: 2.5vw;
    font-weight: 200;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}









.gBas {
  display: flex;
  flex-direction: column;
  height: 200vh;
  padding: 5% 0%;
}

.gBas img {
  width: 70vw;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}
.card {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0%;
  border-radius: 5%;
  height:33.3%;
}

.card-header{
  overflow: hidden;
  height:40vh;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}


  .card-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align:left;
  position: relative;
  align-items: center;
  top: -10%;
  height: 38vh;
  width: 60%;
  border-radius: 20px;
  background-color: #725AC1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;}


.card-text{
  height:100%;
}


.card-titre {
  padding: 2% 5%;
  font-size: 7vw;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}




.card-article {
  padding: 2% 5%;
  font-size: 80%;
  font-weight: 400;
  line-height: 1.2em;
  color: #ffffff;
  width: 100%;
  height:80%;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
}

.card button {
  background-color: #ffffff;
  width: 15vw;
  height: 6vw;
  border: none;
  color: #725AC1;
  border-radius: 5px;
  font-size: 2vw;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 10%;
}



.droite{
  width: 100vw;
  overflow: hidden;
}


.dHaut a {
  width: 100%;
}


.dHaut {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    height: 50%;

}


.dHaut img{
    width: 100%;
    height: 35vh;
    border-radius: 10px ;
    filter: brightness(95%);
    margin-bottom: 30%;
    object-fit: cover;
    object-position: center;
}

.ImgDH{
  width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 10%;

}


.categ{
    color: #725AC1;
    font-size: 9vw;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    margin-bottom: 10%;
}



.swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 20vh;
  overflow: visible;
}


.swipper a {
  width: 100%;
  margin: 0% 2%;
}




.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 25vh;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;

}

.swiper {
  width: 80%;
  height: 50ù;
}































/*.dBas {
    height: 100px;
}

.categ1{
    text-align: center;
    padding-left: 5%;
    color: #725AC1;
    font-size: 20px;
    font-weight: 600;
    padding-top: 50px;
}







.carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 80px;
}

.carousel__scene {

  width: 520px;
  height: 250px;
  max-width: 95vw;
  perspective: 100px;
  padding-top: 40px;

}

.carousel__controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99;
  width: 60px;
  right: -30px;
  top: -150px;
}

.previous-button, .next-button {
  margin: 5px 0;
  padding: 5px;
  width: 50px;
  height: 50px;
  font-family: monospace;
  font-weight: bold;
  font-size: 2rem;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 50px;
  background-color: #725AC1;
  color: white;
  transition: 0.4s;
}

.previous-button:hover, .next-button:hover {
  outline: none;
  box-shadow: 0 0 6px 3px #725AC1;
}

.carousel__cell img{
      height: 100%;
      width: 100%;
}
.carousel__list {
  width: 100%;
  height: 160px;
  margin: 0;
  padding: 0;
  position: absolute;
  transform: translateZ(-288px);
  transform-style: preserve-3d;
  transition: transform 1s;
  list-style: none;
  counter-reset: list-counter;
}

.carousel__cell {
  position: absolute;
  width: 510px;
  height: 165px;
  max-width: calc(95vw - 20px);
  border: 2px solid white;
  border-radius: 10px;
  transition: transform 1s, opacity 1s;
  counter-increment: list-counter;
  overflow: hidden;

}

.carousel__cell::before {
  color: rgb(255, 255, 255);
  width: 40px;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
}

.carousel__cell.selected {

  border: none;
  color: #ffffff;
  

}

.carousel__cell.selected::before {
  color: goldenrod;
}

.carousel__cell:nth-child(1) { transform: rotateX(  0deg) translateZ(288px); }
.carousel__cell:nth-child(2) { transform: rotateX( 40deg) translateZ(288px); }
.carousel__cell:nth-child(3) { transform: rotateX( 80deg) translateZ(288px); }
.carousel__cell:nth-child(4) { transform: rotateX(120deg) translateZ(288px); }
.carousel__cell:nth-child(5) { transform: rotateX(160deg) translateZ(288px); }
.carousel__cell:nth-child(6) { transform: rotateX(200deg) translateZ(288px); }
.carousel__cell:nth-child(7) { transform: rotateX(240deg) translateZ(288px); }
.carousel__cell:nth-child(8) { transform: rotateX(280deg) translateZ(288px); }
.carousel__cell:nth-child(9) { transform: rotateX(320deg) translateZ(288px); } */