img {
    width: 100%;
    height: 100%; /* Redimensionne l'image pour remplir complètement la cellule */
   object-fit: cover;
}

td, th {
    width: 40%; /* Largeur des cellules de tableau */
    height: 100px; /* Hauteur des cellules de tableau */
}


 td,  th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
   tr:nth-child(even){background-color: #f2f2f2;}
  
   tr:hover {background-color: #ddd;}
  
   th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #725AC1;
    color: white;
  }