/* ----------------head--------------- */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'poppins'
}


/* ----------------body--------------- */
#wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #725AC1;

}

header a {
    width: 15%;
    padding: 0%;
}
.logo {
    width: 50%;
    padding-left: 2%;
}


.searchBar{
    width: 350px;
    border-radius: 10px;
    padding: 8px;
    border: none;
    outline: none;
}


.searchBtn{
    width: 20px;
    height: 20px;
    position: relative;
    right: 30px;
    background-color: #725AC1;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 12px;
}





nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
}

nav ul li {
    display: inline-block;
    position: relative; /* Ajout de cette ligne */
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li:hover {
    background-color: #555;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: #333;
    width: 100%; /* Ajout de cette ligne */
    left: 0; /* Ajout de cette ligne */
    top: 100%; /* Ajout de cette ligne */
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    display: block;
}

nav ul li ul li a {
    color: white;
}

nav ul li ul li:hover {
    background-color: #555;
}


.logo1{
padding: 0%;
}


footer {
    box-sizing: content-box;
    height: 8%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #725AC1;
}


.footerImg{
    width: 100vw;
    height: 100%;
    z-index: -1;
}


.footer-reso{
    display: flex;
    flex-direction: row;
}


.reso {
    margin:15%
}

main{
    height: 100%;
}